-
  let pageTitle = "My Starter Kit";

  let pages = [
                "home",
                "about",
                "contact"
              ];

  let tools = {
                "gulp": "http://gulpjs.com/",
                "pug": "https://github.com/pugjs/pug",
                "babel": "https://babeljs.io/",
                "eslint": "http://eslint.org/",
                "sass": "http://sass-lang.com/",
                "autoprefixer": "https://autoprefixer.github.io/",
                "browsersync": "https://browsersync.io/"
              };
