article
  display: flex
  flex-direction: column
  background: hsla(238, 12%, 47%, 0.32)
  padding: 0 2em 0 2em
  color: cornsilk

h3
  color: #C5DEDE


h2
  font-size: 2.5em

li
  padding: .5em

nav ul
  display: flex
  flex-direction: row
  flex-wrap: wrap
  order: -1
  justify-content: center

  li
    padding: 10px

section
  order: 2

.tools
  order: 3
  text-align: center

  h2
    margin-top: 0

.description
  order: 2

pre
  margin-bottom: 0

@media all and ( min-width: 700px )

  nav ul
    flex-direction: column
    text-align: left


  li
    padding: .5em
    margin: 0

  article
    flex-direction: row

  .sidebar
    flex: 0 0 180px

  .tools
    text-align: right

    h2
      margin-top: 33.2px

  .description
    flex: 1
