main
  article
    section.description
      h2 Description
      p.
        A #[em simple kit] to get you started.
        Don't worry about a damn thing,
        let #[a(href="http://gulpjs.com/") Gulp] take care
        of the build process.

      h2 System Preparation

      p To use this project, you'll need the following things installed on your machine.

      ul
        li: a(href="http://nodejs.org/") NodeJS - use the installer
        li: a(href=tools["gulp"]) Gulp - $ npm install -g gulp

      h2 Local Installation

      ul
        li Clone or fork this repo, or download it into a directory of your choice.
        li Inside the directory, run `npm install`.

      h2 Usage

      h3 development mode

      p.
        Jus type gulp into the terminal of the root of your project.
        A browser will open and you can view your project while you work
        and watch the changes happen as you edit and save you files.

      pre: code.
        $ gulp



    section.tools.sidebar
      h2 Tools Included
      ul
        each link, tool in tools
          li: a(href=link)= tool.toUpperCase()


    include 3-nav.pug
