main
  article
    section.description
      h2 Description
      p.
        A #[em simple kit] to get you started.
        Don't worry about a damn thing,
        let #[a(href="http://gulpjs.com/") Gulp] take care
        of the build process.

    section.tools.sidebar
      h2 Tools Included
      ul
        each link, tool in tools
          li: a(href=link)= tool.toUpperCase()


    include 3-nav.pug
